java/*
run/tmp.log
run/template
run/problem
run/ADA95[LP]*
run/ADA95.[it]*
run/iac*
run/keywords
run/pygrun
run/struct
run/sub
run/work
test/*pdf
test/result*
test/syntax_of_ada
test/syntax_of_ada2.txt
test/syntax_of_ada95
log/*
